name: Release

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-22.04
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup | Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Setup | Dependencies
        run: npm i -g pnpm && pnpm i --frozen-lockfile
      - name: Build
        run: pnpm run build
      - name: Test
        run: pnpm run test
      - name: Release
        if: github.event_name != 'pull_request'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpm exec semantic-release
